.PortfolioApp-main{
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
	border: 2px #CCCCCC solid;
/*	background-image: url("/assets/images/patterns/chruch_@2X.png");
*/	background-color: #EFEFF0;
}

.PortfolioApp-img{
/*	border: 2px #CCCCCC solid;
*/	padding: 1%;
	margin: auto;
	width: 100%;
}

@media screen and (max-width: 480px){

	.PortfolioApp-main{
		width: 85%;
	}

}
