.ContactIcon-thumb {
	background-color: transparent;
	border: 0px;
	width: 60%;
	margin: 0 auto;
	transition-duration: 0.50s;
    transition-property: transform;
}

.ContactIcon-thumb:hover, focus, active {
    transform: scale(1.4);
}


